<div class="content-wrapper bg-white" style="min-height: 916px;"
     xmlns:th="http://www.thymeleaf.org/">

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-8 col-md-offset-2">
                <h2 class="text-center">Thông Tin Sinh Viên</h2>
                <div class="box box-borderless">
                    <table class="table borderless">
                        <thead>
                        <tr>
                            <td style="width: 15%"></td>
                            <td style="width: 15%"></td>
                            <td style="width: 20%"></td>
                            <td style="width: 15%"></td>
                            <td style="width: 15%"></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>Họ Và Tên</b></td>
                            <td colspan="2">Trần Khắc Vỹ</td>
                            <td><b>Giới Tính</b></td>
                            <td colspan="2">Nam</td>
                        </tr>
                        <tr>
                            <td><b>MSSV</b></td>
                            <td colspan="2">SE60964</td>
                            <td><b>CMND</b></td>
                            <td colspan="2">241488591</td>
                        </tr>
                        <tr>
                            <td><b>Ngày Sinh</b></td>
                            <td colspan="2">07/06/1993</td>
                            <td><b>Điện Thoại</b></td>
                            <td colspan="2">01672011550</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Email</b></td>
                            <td colspan="4">VyTKSE60964@fpt.edu.vn</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Email Phụ Huynh</b></td>
                            <td colspan="4">phuhuynh@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Số Điện Thoại Phụ Huynh</b></td>
                            <td colspan="4">01672011550</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Tình Trạng</b></td>
                            <td colspan="4">Tín Dụng 50%</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Khóa Nhập Học</b></td>
                            <td colspan="4">Khóa 7</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Tiếng Anh Đầu Và</b></td>
                            <td colspan="4">ENG4</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Học Kỳ</b></td>
                            <td colspan="4">Fall 2011( 12/6/2011 - 12/9/2011)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>